
*.iml
.idea/.name
*.xml
*.bin
*.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/ex4.dir/build.make
cmake-build-debug/CMakeFiles/ex4.dir/depend.make
cmake-build-debug/CMakeFiles/ex4.dir/flags.make
cmake-build-debug/CMakeFiles/ex4.dir/link.txt
cmake-build-debug/CMakeFiles/ex4.dir/progress.make
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/ex4.cbp
cmake-build-debug/Makefile
